html {
	background-image: url(aset/latar-samping.png);
	background-position-y: bottom;
	background-repeat: no-repeat;
	background-size: 160px;
}

body.pure-g {
	align-items: center;
	background-color: rgba(255, 255, 255, 0.9);
	flex-flow: column nowrap;
	height: 100vh;
	margin: 0 auto;
	max-width: 1200px;
	width: 100vw;
}

.main-container {
	align-items: center;
	display: flex;
	flex-flow: column nowrap;
}

.filler {
	flex-grow: 1;
}

.logo {
	text-align: center;
}

.logo img {
	height: 48px;
	width: auto;
}

.content {
	padding: 0 16px 8px;
}

.judul {
	margin: 0;
	text-align: center;
}

.subjudul {
	margin: 0.97em 0 0;
}

.center {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.max-320 {
	max-width: 320px;
	width: 100%;
}

.medsos {
	font-size: 0;
}

.medsos img {
	height: auto;
	margin: 0 8px;
	max-width: 48px;
	width: calc(20% - 16px);
}

.tautan {
	margin-top: 16px;
}

.tautan a {
	background-color: white;
	border: 1px solid #17AC8C;
	display: block;
	margin: 4px 0;
}

.show-md {
	display: none;
}

.hide-md {
	display: block;
}

a,
a:visited {
	color: #2e2eff;
	text-decoration: none;
}

a:hover,
a:active {
	text-decoration: underline;
}

a:active {
	color: #b30000;
}

a.pure-button:visited {
	color: rgba(0, 0, 0, 0.8);
}

a.pure-button:hover,
a.pure-button:active {
	text-decoration: none;
}

.color-red,
a.color-red {
	background-color: #eb0000;
	color: white;
}

.color-green,
a.color-green {
	background-color: #17AC8C;
	color: black;
}

@media screen and (min-width: 48em) {

	body.pure-g,
	.main-container {
		flex-direction: row;
	}

	.main-container {
		margin-bottom: 48px;
	}

	.judul {
		text-align: initial;
	}

	.medsos img {
		margin: 16px 16px 0 0;
	}

	.show-md {
		display: block;
	}

	.hide-md {
		display: none;
	}
}
